<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to my graduate work!</h1>
<p>If you see this page, it means all work well.</p>

<p>It's graduate work of Netology student Aleksandr Kuznetsov</p>

<p><em>Thank you for watching!</em></p>
</body>
</html>

